<div class="col-xs-6 col-xs-offset-3">
Whirlwind Website Cluster and Spider Pool(WWCSP) v2.0 alpha Mail:wind#fbi.org.in
</div>
</div>
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="__PUBLIC__/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script type="text/javascript" src="__PUBLIC__/js/ie10-viewport-bug-workaround.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/index.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/Chart.js"></script>
</body>

</html>
