<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap.min.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        <{$title|default='控制台-whirlwind寄生虫站群蜘蛛池' }>
    </title>
    <meta keywords="<{$keywords|default=''}>">
    <meta name="description" content="<{$description|default=''}>">
    <meta name="author" content="<{$author|default='Whirlwind'}>">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index.css">
    <script>
    var CONTROLLER = "__CONTROLLER__";
    </script>
</head>

<body>
    <div class="container-fluid" id="body">
